<ion-header>
  <ion-navbar>
    <ion-title>Mesas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button  ion-button margin color = "secondary" (click)= "addMesa()">Add</button>
    <button  ion-button color="danger" (click)= "removeMesa()">Del</button>
    
    <button ion-item  *ngFor="let item of items; let i = index" (click)="itemTapped($event, item)" >
      <ion-icon name="{{item.icon}}" item-left></ion-icon>
      {{item.title}}
      <button item-right ion-button color="secondary" clear *ngIf="item.status" (click)= "changeStatus(i)" >Disponível</button>
      <button item-right ion-button color="danger" clear *ngIf="!item.status" (click)= "changeStatus(i)" >Ocupada</button>  
      
    </button>
  </ion-list>
</ion-content>
